.compony {
  display: flex;
  text-align: left;
  
  width: 900px;
  margin: 0 auto;
  // margin-top: 20px;
  .left-bar {
    width: 220px;
    border-right: solid 1px #ccc;

    p {
      line-height: 46px;
      display: flex;
      align-items: center;
      padding: 0 10px;
      cursor: pointer;

      &::before {
        content: "";
        display: inline-block;
        flex-shrink: 0;
        width: 8px;
        border: 4px solid transparent;
        border-left: 4px solid #0166b3;
      }
      &:hover {
        // font-size: 18px;
        font-weight: bolder;
      }
    }
    p.active-left-componey{
      background: #e5eff7;
      font-weight: bolder;
    }
    .title-bar {
      line-height: 58px;
      color: #ffffff;
      
      font-weight: bolder;
      font-size: 20px;
      background: #0166b3;

      display: flex;
      justify-content: center;
    }
  }

  .right-compony {
    padding: 0 30px;
    flex: 1;
    font-size: 14px;
    p {
      line-height: 1.3;
      margin: 10px 0;
    }
    .main-title-compony {
      display: flex;
      font-size: 18px;
      align-items: center;
      border-bottom: 1px dashed #ccc;
      padding-bottom: 8px;
      &::before {
        content: '';
        width: 15px;
        height: 4px;
        margin-right: 10px;
        background: #0166b3;
      }
    }

    .name-componey {
      text-align: right;
    }
    .subtitle-info-compony {
      display: block;
      text-decoration: underline;
      margin-bottom: 5px;
    }
  }
}