.compony {
  display: flex;
  text-align: left;
  
  width: 900px;
  margin: 50px auto;
  height: 100%;
  // margin-top: 20px;
  .left-bar {
    width: 220px;
    border-right: solid 1px #ccc;

    p {
      line-height: 46px;
      display: flex;
      align-items: center;
      padding: 0 10px;
      cursor: pointer;
      border: solid 1px #ccc;
      border-top: none;
      border-right: none;

      &::before {
        content: "";
        display: inline-block;
        flex-shrink: 0;
        width: 8px;
        border: 4px solid transparent;
        border-left: 4px solid #0166b3;
      }
      &:hover {
        // font-size: 18px;
        font-weight: bolder;
      }
    }
    p.active-left-componey{
      background: #e5eff7;
      font-weight: bolder;
    }
    .title-bar {
      line-height: 58px;
      color: #ffffff;
      
      font-weight: bolder;
      font-size: 20px;
      background: #0166b3;

      display: flex;
      justify-content: center;
    }
  }

  .right-compony {
    padding: 0 30px;
    flex: 1;
    font-size: 14px;
    height: 100%;
    overflow: auto;
    p {
      line-height: 1.3;
      margin: 10px 0;
    }
    .main-title-compony {
      display: flex;
      font-size: 18px;
      align-items: center;
      border-bottom: 1px dashed #ccc;
      padding-bottom: 8px;
      &::before {
        content: '';
        width: 15px;
        height: 4px;
        margin-right: 10px;
        background: #0166b3;
      }
    }


    .name-componey {
      text-align: right;
      margin-top: 30px;
    }
    .subtitle-info-compony {
      display: block;
      text-decoration: underline;
      margin-bottom: 5px;
    }
  }


  .index2 {
    * { 
      line-height: 36px;
    }
    margin-bottom: 400px;
    .main-info-compony {
      padding-left: 50px;
    }
    .main-title-compony {
      margin-left: 50px;
      text-indent: -50px;
      margin: 20px 0;
      span{
        font-size: 36px;
      }
      &::before {
        opacity: 0;

      }
    }
    .info-table-componey {
      border: solid 3px #ccc;
      flex: 1;

      .item-table-componey {
        display: flex;

        .left-table-componey {
          width: 250px;
          box-sizing: border-box;
          padding-left: 10px;
          flex-shrink: 0;
          background: #eeeeee;

          border-bottom: dashed 1px #ccc;

        }
        .short-left {
          width: 125px;

        }

        .right-table-componey {
          flex: 1;
          padding-left: 10px;
          box-sizing: border-box;
          border: dashed 1px #ccc;
          border-top: none;
          border-right: none;
        }

        .no-left {
          padding-left: 0;
        }

        .border-nobottom {
          border-bottom: none;
        }
      }
    }
  }


  .imgContainer-tabel {
    margin-bottom: 30px;
    display: flex;
    img {
      width: 200px;
    }
  }
}