.qualitynew {
  display: flex;
  width: 1000px;
  margin: auto;
  height: 100%;
  overflow: hidden;

  .flex {
    display: flex;
  }
  .index {
    p {
      line-height: 1.4;
      text-align: left;
    }
  }
  .index1 {
    .box {
      margin: 20px 0;
      .title {
        font-size: 20px;
        margin-bottom: 20px;
      }
      img {
        width: 250px;
        margin: 10px;
      }
    }
  }
  .index2 {
    .bord10 {
      border: solid 6px;
      background: white;
      padding: 10px;
      margin-bottom: 20px;
      margin-right: 70px;
    }
    .title {
      font-size: 20px;
      font-weight: bolder;
    }
    .top {
      height: 300px;
      img {
        width: 300px;
      }
      .position-absolute.bord10 {
        width: 500px;
        top: 80px;
        right: -20px;
      }
    }
  }
}