.t__ {
  .showInfo-pd {
    li {
      list-style-position: outside;
      margin-bottom: 15px;
      font-size: 14px;
    }
  }
  .img {
    width: 770px;
  }


  .subTitle {
    color: #1887CA;
    margin: 20px 0;
  }
  .secTitle {
    color: #1887CA;
    margin: 10px 0;
    text-indent: -20px;
  }
}

.title__ {
  font-size: 18px;
  margin: 25px 0 15px;
  padding-bottom: 10px;
  border-bottom: solid 1px #1887CA;
}