.header {
  padding-top: 30px;
  margin-bottom: 10px;
}

.nav {
  font-size: 18px;
  font-weight: normal;
  display: flex;
  justify-content: center;
}
.nav-item{
  margin: 3px 50px;
  padding: 3px 0;
}
.acitve-nav, .nav-item:hover {
  font-weight: bolder;
  border-bottom: solid 1px #0166b3;
}