.header {
  padding-top: 30px;
  margin-bottom: 10px;
  height: 60px;
  background: #ffffff;
  width: 100%;
  z-index: 99999;
}
.header .inner {
  position: fixed;
  top: 0;
}
.nav {
  font-size: 18px;
  font-weight: normal;
  display: flex;
  justify-content: center;
}
.nav-item{
  margin: 3px 50px;
  padding: 3px 0;
}
.acitve-nav, .nav-item:hover {
  font-weight: bolder;
  border-bottom: solid 1px #0166b3;
}

.top-header {
  display: flex;
  align-items: center;

  height: 20px;
  margin: 0 auto;
  width: 760px;
  font-size: 12px;
  .home {
    flex: 1;
    text-align: left;
  }
}
.search {
  line-height: 30px;
  padding-left: 20px;;
  background: url('./icon-search.png') left center no-repeat;
}