.recuitment-h {
  width: 980px;
  margin: 0 auto;
  background: url(../../imgs/environment.gif) no-repeat center center;
  background-size: 980px;
  padding: 20px;
  h5 {
    font-size: 26px;
    color: #ffffff;
    // width: 700px;
    margin: 0 auto;
    // border-left: solid 3px rgb(0, 135, 202);
    text-indent: 20px;
  }
}

.recuitment {
  text-align: left;


  .section-recuitment {
    .type-container {
      // padding: 50px;
      display: flex;
      align-items: center;
      justify-content: center;

      border: solid 1px #cccccc;

      width: 980px;
      height: 277px;
      margin: 30px auto;

      img:hover{
        opacity: 0.8;
      }

      .left-white {
        margin-right: 50px;
      }

    }
  }

}