.ProductInfo {
  .banner-product {
    margin-top: 0 ;
  }

  .section {
    width: 890px;
    margin: 0 auto;
    color: #222;

    text-align: left;

    .name-productInfo {
      line-height: 50px;
      text-indent: 20px;
      background: linear-gradient(to top, rgb(233, 233, 233), rgb(255, 255, 255));

      border-top: 3px solid #ccc;
      border-image: linear-gradient(to right, #1887CA 0%, #ccc 30%, #ccc 100%) 3;
    }
  }
}
