.environment {
  text-align: left;
  overflow: auto;
  height: 100%;
  // font-size: 16px;
  .title-envi {
    font-size: 20px;
    background: #afafaf;
    background: linear-gradient(to bottom, #afafaf, #ffffff);
    text-indent: 30px;
    padding: 5px 0;
    // color: #ffffff;
    
  }
  .banner-envi {
    width: 900px;
    margin: 10px auto 0;
  
    img {
      width: 100%;
    }
  }
  section {
    padding-top: 20px;
    width: 800px;
    margin: 0 auto;

    font-size: 18px;

    * {
      line-height: 1.6;
    }
    ul {
      padding: 0 45px;
      margin-bottom: 45px;
      padding-left: 20px;
      list-style-type: none;
      li {
        margin-top: 20px;
        padding-left: 40px;
        position: relative;
        span {
          font-size: 36px;
          position: absolute;
          left: -10px;
          top: -15px;

        }
      }
    }
  }
}