.index {
  height: 100%;
  overflow: auto;
}

.banner {
  height: 355px;
  margin-bottom: 20px;
  width: 100%;
  overflow: hidden;

  img{
    display: block;
    height: 355px;
    margin: 0 auto;
    transform: translateX(-150px);
  }
}
.product {
  margin-top: 60px;
  img:hover {
    opacity: 0.9;
  }
}
.product-nav {
  display: flex;

  justify-content: center;

  img {
    cursor: pointer;
  }
}
.title-home {
  font-size: 24px;
  font-weight: 600;
  line-height: 2;
}
.sub-titel-home {
  font-size: 16px;
  line-height: 2;
}
.pick {
  img {
    cursor: pointer;
  }
  img:hover {
    opacity: 0.9;
  }
  .pick-img {
    display: flex;
    justify-content: center;
    img {
      margin-right: 5px;
    }
  }

  padding: 50px 0;
  margin-top: 80px;
  background: #e3f1fc;
}

.pick-img {
  img {
    width: 333px;
    height: 200px;
  }
}

.rs {
  margin-top: 30px;
  img {
    width: 459px;
    height: 242px;
  }
}